.button {
  background-color: var(--white);
  border-radius: 6px;
  color: var(--grey1);
  display: block;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all 0.3s ease;
  width: 90%;
}

.button:hover,
.button:focus {
  background-color: var(--pink3);
  color: var(--white);
}

@media (min-width: 375px) {
  .button {
    min-width: 318px;
    width: auto;
  }
}
