label {
  display: block;
  font-size: 1.125rem;
  letter-spacing: normal;
  line-height: 1.111111;
  padding-block-end: 0.375rem;
}

input {
  border: 1px solid var(--grey2);
  border-radius: 6px;
  padding: 0.75rem;
}

input[type='text'],
input[type='search'] {
  width: 100%;
}

