label {
  display: block;
  font-size: 1.125rem;
  letter-spacing: normal;
  line-height: 1.111111;
  padding-block-end: 0.375rem;
}

input {
  background-color: var(--white);
  border: 1px solid var(--grey2);
  border-radius: 6px;
  padding: 0.75rem;
  width: 100%;
}

input[type='text'],
input[type='search'] {
  width: 100%;
}

.message {
  margin-block-end: 1rem;
}

.message--error {
  color: var(--error);
}

.message--success {
  color: var(--success);
}
