.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  margin-block-end: 2rem;
  width: 320px;
}

.navigation .button--search {
  grid-column: 1 / span 2;
}

@media (min-width: 992px) {
  .navigation {
    margin-block-end: 3rem;
  }
}
