.navigation {
  display: inline-flex;
  flex-flow: wrap;
  gap: 4px;
  justify-content: center;
  margin-block-end: 2rem;
  width: 320px;
}

.navigation .button {
  flex: 1;
}

.navigation .secondary-link {
  width: 50%;
}

@media (min-width: 992px) {
  .navigation {
    margin-block-end: 3rem;
  }
}
