:root {
  --grid-columns: 5;

  --white: #FFFFFF;
  --grey1: #3e3e3e;
  --pink1: #ED8EAB;
  --pink2: #FDD2DF;
  --pink-opacity: rgba(234, 128, 176, 0.6);

  --font-body: 'Gill Sans', Arial, sans-serif;
  --font-header: 'Chronicle Display', serif;
}
