:root {
  --white: #ffffff;
  --black: #000000;
  --grey1: #3e3e3e;
  --grey2: #969696;
  --pink1: #ed8eab;
  --pink2: #fdd2df;
  --pink3: #de2b67;

  --font-body: 'Gill Sans', Arial, sans-serif;
  --font-header: 'Chronicle Display', serif;
}
